{% load static %}
<nav class="navbar navbar-expand-lg bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img src="{% static 'store/logo.png' %}" alt="" height="24">
      <span>Django Store</span>
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a href="" class="nav-link active">Home</a>
        </li>
        <li class="nav-item">
          <a href="" class="nav-link">Shop</a>
        </li>
        <li class="nav-item">
          <a href="" class="nav-link">Pages</a>
        </li>
        <li class="nav-item">
          <a href="" class="nav-link">Contact</a>
        </li>
        <!-- <li class="nav-item">
          <a href="" class="nav-link">
            <i class="bi bi-bag"></i>
          </a>
        </li>
        <li class="nav-item">
          <a href="" class="nav-link">
            <i class="bi bi-search"></i>
          </a>
        </li> -->
      </ul>
    </div>
  </div>
</nav>
