{% load static %}
<div class="container-fluid mt-4 pt-3 bg-white px-0">
  <h5 class="ms-3 mb-3">CATEGORIES</h5>
  <div class="d-flex flex-wrap">
    {% for _ in '1234567812345678'|make_list %}
    <div class="card rounded-0" style="width: 12.499999995%">
        <img src="{% static 'store/src/cats/mobile.jpeg' %}" class="card-img-top" alt="Mobile & Gadgets">
        <div class="card-body text-center">
            <p class="card-text">Mobile & Gadgets</p>
        </div>
    </div>
    {% endfor %}
  </div>
</div>