{% extends 'includes/base.html' %}
{% load static %}
{% block content %}
<script defer src="{% static 'store/script/product_detail.js' %}"></script>
<div class="bg-white p-4">
    <div class="d-flex">
        <div class="col-4">
            <div id="playerbox">
                <img id="playerimg" class="w-100" src="{{ product_images.0.image.url }}" height="300">
            </div>
            <div class="d-flex mt-2 overflow-scroll">
                {% for image in product_images %}
                <div class="col-2 bg-white">
                    <img src="{{ image.image.url }}" alt="Profile Picture" class="w-100 product-image">
                </div>
                {% endfor %}
            </div>
            <script>
                // this "lazy" getter for playerImg will either return or create the img
                function playerImg() {
                    let playerImg = document.getElementById('playerimg');
                    if (!playerImg) {
                    playerImg = document.createElement('img');
                    playerImg.id = 'playerimg';
                    document.getElementById('playerbox').appendChild(playerImg);
                    }
                    return playerImg;
                }
                
                // set the source attribute of the playerImg
                function setPlayerImg(src) {
                    playerImg().setAttribute('src', src);
                }
                
                // get the rock, paper, scissors elements with their common class
                const imgs = document.getElementsByClassName("product-image");
                
                // for each, add a click handler that calls our src setting function
                for (let i = 0; i < imgs.length; i++) {
                    const el = imgs[i];
                    el.addEventListener('click', () => setPlayerImg(el.src), false);
                }            
            </script>
            <div class="d-flex mt-3">
                <div class="col-6 d-flex justify-content-center">
                    <i class="bi bi-share text-primary me-2"></i>
                    <span>Share</span>
                </div>
                <div class="border-start"></div>
                <div class="col-6 d-flex justify-content-center">
                    <i class="bi bi-heart text-danger me-2"></i>
                    <span>Favourite</span>
                </div>
            </div>
        </div>
        <div class="col-8 p-4 d-flex flex-column">
            <h4>{{ object.name }}</h4>
            <div class="small d-flex ">
                <div class="text-success">
                    <span>5.0</span>
                    {% for _ in '12345'|make_list %}
                    <i class="bi bi-star-fill"></i>
                    {% endfor %}
                </div>
                <div class="border-start mx-1"></div>
                <div class="">
                    <span>{{ rating_no }} Ratings</span>
                </div>
                <div class="border-start mx-1"></div>
                <div class="">
                    <span>{{ object.sold }} Sold</span>
                </div>
            </div>
            <h1>${{ object.price|stringformat:'.2f' }}</h1>
            <div class="d-flex">
                <div class="col-2">
                    <small>Shipping</small>
                </div>
                <div class="d-flex flex-column col-10">
                    <div class="d-flex">
                        <i class="bi bi-truck text-success me-2"></i>
                        <div class="col-8 d-flex justify-content-between">
                            <div class="col-4">
                                <small class="">Free Shipping</small>
                            </div>
                            <div class="col-4">
                                <div class=""></div>
                            </div>
                        </div>
                    </div>
                    <div class="d-flex">
                        <i class="bi bi-airplane me-2"></i>
                        <div class="d-flex flex-column col-8">
                            <div class="col-12 d-flex justify-content-between">
                                <div class="col-6">
                                    <small class="text-muted">Shipping From</small>
                                </div>
                                <div class="col-6">
                                    <small>Singapore</small>
                                </div>
                            </div>
                            <div class="col-12 d-flex justify-content-between">
                                <div class="col-6">
                                    <small class="text-muted">Shipping Fee</small>
                                </div>
                                <div class="col-6">
                                    <small>$0.00 - $1.00</small>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="d-flex mt-2 align-items-center">
                <div class="col-2">
                    <small>Quantity</small>
                </div>
                <!-- TODO: stick the input as a whole tgt -->
                <div class="d-flex align-items-center">
                    <div class="input-group d-flex mt-2">
                        <button class="input-group-text rounded-0" id="minus" onclick="minusQuantity()"><i class="bi bi-dash"></i></button>
                        <input 
                            type="text" class="form-control text-center w-25" id="quantity" value=0 
                            aria-label="quantity" aria-describedby="plus minus" 
                            oninput="checkQuantity()" onblur="checkQuantityNull()">
                        <button class="input-group-text rounded-0" id="plus" onclick="plusQuantity()"><i class="bi bi-plus"></i></button>
                    </div>
                    <span class="text-muted col-6 ms-3 mt-1">{{ object.stock }} available</span>
                </div>
            </div>
            <div class="d-flex mt-4">
                <div class="btn btn-outline-success rounded-0">
                    <i class="bi bi-cart-plus mx-1"></i>
                    <span>Add to Cart</span>
                </div>
                <div class="btn btn-success rounded-0 ms-3">
                    <i class="bi bi-cart-check mx-1"></i>
                    <span>Buy Now</span>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="bg-white mt-3 p-4 d-flex align-items-center">
    <div class="col-1">
        <img src="{{ object.seller.profile.image.url }}" alt="Profile Picture" class="w-100 rounded-circle border">
    </div>
    <div class="col-4 ps-3 d-flex flex-column border-end">
        <span>{{ object.seller }}</span>
        <small class="text-muted">Active 20 minutes ago</small>
        <div class="d-block mt-1">
            <a href="" class="btn btn-outline-success">
                <i class="bi bi-chat-left-text"></i>
                <span>Chat Now</span>
            </a>
            <a href="{% url 'seller-home' object.seller.username %}" class="btn btn-outline-secondary">
                <i class="bi bi-shop"></i>
                <span>View Seller</span>
            </a>
        </div>
    </div>
    <div class="col-7 ps-4 small">
        <div class="d-flex my-2">
            <div class="col-3">
                <span>Ratings</span>
                <span class="text-success">{{ ratings_no }}</span>
            </div>
            <div class="col-5">
                <span>Response Rate</span>
                <span class="text-success">100%</span>
            </div>
            <div class="col-4">
                <span>Joined</span>
                <span class="text-success">{{ object.seller.date_joined|timesince  }}</span>
            </div>
        </div>
        <div class="d-flex my-1">
            <div class="col-3">
                <span>Products</span>
                <span class="text-success">{{ product_no }}</span>
            </div>
            <div class="col-5">
                <span>Response Time</span>
                <span class="text-success">within hours</span>
            </div>
            <div class="col-4">
                <span>Follower</span>
                <span class="text-success">{{ follower_no }}</span>
            </div>
        </div>
    </div>
</div>
<div class="bg-white mt-5 py-2 px-2">
    <div class="container">
        <div class="bg-light px-3 pt-3 pb-1 my-4">
            <h6>Product Specifications</h6>
        </div>
        <div class="small mx-2">
            <div class="d-flex">
                <div class="col-2">
                    <span class="text-muted">Category</span>
                </div>
                <div class="col">
                    <span>{{ object.category }}</span>
                </div>
            </div>
            <div class="d-flex">
                <div class="col-2">
                    <span class="text-muted">Brand</span>
                </div>
                <div class="col">
                    <span>{{ object.brand }}</span>
                </div>
            </div>
            <!-- <div class="d-flex">
                <div class="col-2">
                    <span class="text-muted">Warranty Type</span>
                </div>
                <div class="col">
                    <span>Supplier Warranty</span>
                </div>
            </div>
            <div class="d-flex">
                <div class="col-2">
                    <span class="text-muted">Wireless</span>
                </div>
                <div class="col">
                    <span>Yes</span>
                </div>
            </div>
            <div class="d-flex">
                <div class="col-2">
                    <span class="text-muted">Mobile Cable Type</span>
                </div>
                <div class="col">
                    <span>Lightning, Type C</span>
                </div>
            </div>
            <div class="d-flex">
                <div class="col-2">
                    <span class="text-muted">Safety Mark</span>
                </div>
                <div class="col">
                    <span>CCC FCC</span>
                </div>
            </div> -->
            <div class="d-flex">
                <div class="col-2">
                    <span class="text-muted">Stock</span>
                </div>
                <div class="col">
                    <span>{{ object.stock }}</span>
                </div>
            </div>
            <div class="d-flex">
                <div class="col-2">
                    <span class="text-muted">Ships From</span>
                </div>
                <div class="col">
                    <span>Singapore</span>
                </div>
            </div>
        </div>
        <div class="bg-light px-3 pt-3 pb-1 my-4">
            <h6>Product Description</h6>
        </div>
        <div class="small mx-2">
            <p>{{ object.description }}</p>
        </div>
    </div>
</div>
{% endblock content %}