{% extends 'includes/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div class="bg-white p-5 rounded border">
    <form action="" method="post">
        {% csrf_token %}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">Join Today</legend>
            {{ form|crispy }}
        </fieldset>
        <div class="form-group">
            <button class="btn btn-outline-success" type="submit">Sign Up</button>
        </div>
    </form>
    <div class="border-top mt-3">
        <small class="text-muted">
            <span>Already have an account?</span>
            <a href="{% url 'login' %}" class="ml-2">Log In</a>
        </small>
    </div>
</div>
{% endblock content %}